{erl_opts, [debug_info, bin_opt_info, {platform_define, "^[0-9]+", 'OTP_25_PLUS'}]}.

%% Project version for CRE 0.2.0
%% Minimum OTP version: 25.0
%% Tested on: OTP 25, 26, 27, 28

{deps, [
        % {gen_pnet, "0.1.7"},
        {gen_pnet, {git, "https://github.com/joergen7/gen_pnet.git", {branch, "master"}}},
        {cowboy, "2.12.0"},
        {jsone, "1.9.0"}]}.  % Removed bcrypt - using built-in crypto:pbkdf2_* for OTP 28 compatibility

{escript_incl_apps, [gen_pnet, lib_combin, jsone]}.
{escript_emu_args, "%%! -connect_all false -sname cre\n"}.
{escript_name, "cre"}.

{profiles,
 [{test, [{cover_enabled, true}]}]}.

{dialyzer, [{warnings, [unmatched_returns,
                        error_handling,
                        underspecs]},
            {plt_extra_apps, [lib_combin, gen_pnet, jsone, xmerl]},
            {get_warnings, true},
            {include_dirs, ["include"]},
            {exclude_apps, []}]}.